.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  pointer-events: none;
  z-index: 5;
}

.center {
  justify-content: center;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.wrapper img {
  display: block;
  /* opacity: 0.8; */
  filter: drop-shadow(0 -5px 5px rgba(0, 0, 0, 0.5));
}
