.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  text-align: center;
}

.names {
  font-family: var(--font-meow);
  font-weight: 200;
  color: rgb(141, 144, 125);
  font-size: 3.3rem;
  margin: 0;
}

.subtitle {
  color: rgb(141, 144, 125);
  font-size: 1.1rem;
  font-weight: 200;
}

.date {
  font-size: 1.1rem;
}

.imageWrapper {
  position: relative;
  overflow: hidden;
  max-width: 350px;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
}

.tornTop,
.tornBottom {
  position: absolute;
  left: -2px;
  width: calc(100% + 4px);
  pointer-events: none;
  z-index: 2;
  color: rgba(238, 239, 234) !important;
}

.tornTop {
  top: -2px;
  transform: scaleY(-1);
}

.tornBottom {
  bottom: -2px;
}
